<!DOCTYPE html>
<html>
  <head>
    <title>NotificationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      Me: <%= current_user.email %>
      <div id="my_notification_box">
        <p>Hello</p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
